{#include base.html}
    {#title}Books{/title}
    {#body}
        <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">ISBN</th>
            <th scope="col">No. of pages</th>
            <th scope="col">Price</th>
            <th scope="col">Language</th>
        </tr>
        </thead>
        <tbody>
        {#for book in books}
            <tr>
                <td>{book.id}</td>
                <td>{book.title}</td>
                <td>{book.isbn}</td>
                <td>{book.numberOfPages}</td>
                <td>{book.price}</td>
                <td>{book.language}</td>
            </tr>
        {/for}
        </tbody>
        </table>
    {/body}
{/include}