<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>All cds</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Music company</th>
        <th>Genre</th>
        <th>No. of tracks</th>
    </tr>
    </thead>
    <tbody>
    {#for cd in cds}
        <tr>
        <td>{cd.id}</td>
        <td>{cd.title}</td>
        <td>{cd.musicCompany}</td>
        <td>{cd.genre}</td>
        <td>{cd.tracks.size()}</td>
        </tr>
    {/for}
    </tbody>
</table>
</body>
</html>